@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .nav-list {
    display: none !important;
  }
  .nav-list-desktop {
    display: flex !important;
  }
}

@media (max-width: 767px) {
  .nav-list-desktop {
    display: none !important;
  }
}
